<html>
<head>
    <meta charset="UTF-8">
    <title>component 双向数据绑定</title>
</head>
<body>
<div id="app">
    <div>Parent component: <input type="text" v-model="msg"/></div>
    <my-bind :msg.sync="msg"></my-bind>
</div>
</body>
<script src='http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js'></script>
<script>
    Vue.component('my-bind', {
        props : ['msg'],
        template : '<div>Child component : <input type="text" v-model="msg"/></div>'
    });

    var vm = new Vue({
        el : '#app',
        data : {
            msg : ''
        }
    });

</script>
</html>